.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

body {
  font-family: sans-serif;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(81, 187, 244, 0.283);
  //background-image: linear-gradient(20deg, lightblue 50%, transparent 90%), linear-gradient(-60deg, #fa867e 40%, transparent 95%);
  }

.nav {
  max-width: 3000px;
  background-color: #313236;
  border-radius: 2px;
}

.nav a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.nav a:hover {
  color: #ffffff;
}

p1 {
	color: black;
	font-size: 22px;
  font-family: sans-serif;
  padding-left: 20px;
}

p2 {
  color: black;
	font-size: 18px;
	font-family: sans-serif;
  padding-left: 30px;
}

